version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      # Монтируем папку с моделями с хоста
      - ./model:/app/model:ro
    environment:
      - FLASK_ENV=production
    restart: unless-stopped